// #8C9BB5

// green #4F8E00
  
.partners
  height: 300px
  background-color: #4F8E00
  
.partners__title
  color: white

.partners-block
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 30px

.partners__item
  display: flex
  align-items: center
  justify-content: center
  width: 200px
  height: auto

.partners__item img
  width: 100%
  height: auto